;; shadow-cljs configuration
{:source-paths ["src"]

 :dependencies [[binaryage/devtools "0.9.7"]
                [reagent "0.8.1"]
                [re-frame "0.10.9"]
                [metosin/reitit "0.3.9"]
                [keybind "2.2.0"]]

 ;; set an nrepl port for connection to a REPL.
 :nrepl {:port 8777}

 :builds
 {:app {:target     :browser
        :output-dir "public/js/compiled"
        :asset-path "/js/compiled"

        :modules
        {:main {:entries [new_root.core]}}

        :devtools
        {:before-load new_root.core/stop
         :after-load  new_root.core/start
         :http-root   "public"
         :http-port   8700
         :preloads    [devtools.preload]}

        :release
        {:output-dir "./js/compiled"
         :asset-path "/js/compiled"}}}}
