;; shadow-cljs configuration
{:source-paths ["src"]

 :dependencies [[refactor-nrepl "2.4.0-SNAPSHOT"]
                [cider/cider-nrepl "0.22.4"]

                [quil "3.0.0"]

                [binaryage/devtools "0.9.7"]

                [reagent "0.8.1"]

                [rid3 "0.2.1-1"]
                [cljsjs/d3 "4.3.0-4"]

                [re-frame "0.10.9"]
                [metosin/reitit "0.3.9"]

                [markdown-to-hiccup "0.6.2"]]

 :nrepl {:port 8777
         :middleware [refactor-nrepl.middleware/wrap-refactor]}

 :builds
 {:app {:target     :browser
        :output-dir "public/js/compiled"
        :asset-path "/js/compiled"

        :modules
        {:main {:entries [new_root.core]}}

        :devtools
        {:before-load new_root.core/stop
         :after-load  new_root.core/start
         :http-root   "public"
         :http-port   8700
         :preloads    [devtools.preload]}

        :release
        {:output-dir "./js/compiled"
         :asset-path "/js/compiled"}}}}
