/* some style */

/* div.contain {
  display: grid;
}

.nav {
  color: #d24c53;
  font-size: 20px;
}

hr {
  color: #d24c53;
} */

.teaser-card {
  border-radius: 20px;
  background: #eceff4;
  box-shadow:  -14px 14px 20px #c9cbcf, 14px -14px 20px #ffffff;
  min-width: 150px;
  min-height: 100px;
}

.teaser-card:hover {
  /*   border-radius: 10px; */
  background: #eff4ec;
}
