.css-text [data-content]:before {
    content: attr(data-content);
}

.wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: stretch;
}

.one {
    flex-grow: 1;
    order: 1;
}

.two {
    flex-grow: 3;
    order: 2;
}

.textarea{
    background-color: #222;
    color: #efe
}

html{background-color: #222;}
